@charset 'UTF-8';

@font-face {
    font-family: 'bts';
    src: url('SolanoGothicMVB-Bd.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: white;
    color: black;
    text-align: center;
    padding: 3px;
    width: 95vw;
    margin: auto;

    font-family: 'bts';
    font-size: 1.2em;

    border-radius: 0px 0px 20px 20px;
}
header h1{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
}
.logo{
    width: 80px;
    
}

body{
    background-image: linear-gradient(to right, #000000ee, black, black, black, #000000ee);
    font-family: 'bts', Arial, Helvetica, sans-serif;
    color: white;

    text-align: center;
}
.introduction{
    text-align: center;
    font-size: 5vw;
    width: max-content;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.membros{
    margin: auto;
    width: 96vw;
    max-width: 700px;
}
.membros h2{
    background-color: white;
    color: black;

    width: 50%;
    margin: auto;
    border-radius: 50px 50px 0px 0px;
    padding: 15px;

    font-size: 2em;
}
.idols{
    width: 95%;
    margin-bottom: 20px;

    border-radius: 10px;

    outline: 1px dashed white;
}

.idols::selection{
    background-color: black;
}
.idols:hover{
    transform: scale(102%);
    border-radius: 50px;
    filter: saturate(2);
    box-shadow: -10px 0px 30px #ffffff2a, 10px 0px 30px #ffffff2a;
    
    transition-duration: 0.5s;
}
.idols:not(:hover){
    transform: scale(100%);
    filter: saturate(0);
    
    transition-duration: 0.5s;
}

a{
    text-decoration: none;
}

footer {
    background-color: black;
    color: white;
}