@charset 'UTF-8';

@font-face {
    font-family: 'bts';
    src: url('../SolanoGothicMVB-Bd.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: white;
    color: black;
    text-align: center;
    padding: 3px;
    width: 95vw;
    margin: auto;

    font-family: 'bts';
    font-size: 1.2em;

    border-radius: 0px 0px 20px 20px;
}

body{
    background-color: black;
    background-position: center right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    font-family: 'bts', Arial, Helvetica, sans-serif;
    color: white;

    text-align: center;
}

main{
    margin: auto;
    margin-top: 50px;
    width: 90vw;
    max-width: 800px;
    height: max-content;
    border-radius: 20px;

    background-color: rgba(0, 0, 0, 0.596);
    color: white;
}
main p{
    font-size: 3em;
    text-align: left;
    text-indent: 20px;

    padding: 20px;
    padding-bottom: 40px;
}
img{
    width: 50vw;
    max-width: 300px;
    margin: 15px;

    border: solid 5px white;
    box-shadow: 0px 10px 20px #d6d6d6d3, 0px 10px #d6d6d6d3;
}