@charset 'UTF-8';

@font-face {
    font-family: 'bts';
    src: url('../SolanoGothicMVB-Bd.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: white;
    color: black;
    text-align: center;
    padding: 3px;
    position: fixed;
    width: 98vw;
    top: 0%;

    font-family: 'bts';
    font-size: 1.2em;

    border-radius: 0px 0px 20px 20px;
}

body{
    background-image: url(../content/rm.jpeg);
    background-position: center right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    font-family: 'bts', Arial, Helvetica, sans-serif;
    color: white;

    text-align: center;
}

main{
    margin: auto;
    margin-top: 50px;
    width: 80vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.438);
    color: white;
}